<%- include('partials/header', {tituloWeb: 'Página 404'}) %>
  <body>
    <link rel="preload" href="css/404.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/404.css?v=1">
    <h1><%= titulo %></h1>
    <h2><%= descripcion %></h2>
  </body>
</html>