<%- include('partials/header', {tituloWeb: 'Psicopedagógico'}) %>
<body>
    
    <link rel="preload" href="css/general.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/contactos.css?v=1"> <!-- El ?v=1 es para evitar caché -->
   
    <div class="color imagen2">
        <nav class="azul">
        <a href="#">becas</a>
        <a href="#">convenios</a>
        <a href="#">contactos</a>
    </nav>
    </div>
<%- include('partials/footer') %>
</body>
</html>