<%- include('partials/header', {tituloWeb: 'Psicopedagógico'}) %>
<body>
    <link rel="preload" href="css/contactos.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/contactos.css?v=1"> <!-- El ?v=1 es para evitar caché -->
   
    <header id="H" class="header">
        <div class="menu container">
            <a href="#H" class="logo">
                <img src="images/CAG-Logo.webp?v=1" alt="">
            </a>
            <input type="checkbox" id="menu"/>
            <label for="menu">
                <img src="images/menu.webp?v=1" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="/g">BECAS 2025</a></li>
                    <li><a href="#H">Inicio</a></li>
                </ul>
        </div>
    </header>
<%- include('partials/footer') %>
</body>
</html>