<%- include('partials/header', {tituloWeb: 'Psicopedagógico'}) %>
<body>
    <link rel="preload" href="css/expo.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/expo.css?v=1"> <!-- El ?v=1 es para evitar caché -->
   
    <header id="H" class="header">
        <div class="menu container">
            <a href="#H" class="logo">
                <img src="images/CAG-Logo.webp?v=1" alt="">
            </a>
            <input type="checkbox" id="menu"/>
            <label for="menu">
                <img src="images/menu.webp?v=1" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#H">Inicio</a></li>
                    <li><a href="#P">Pdf</a></li>
                    <li><a href="/g">BECAS-2025</a></li>
                    <li><a href="/c">CONTACTOS</a></li>
                </ul>
        </div>
        <div class="container">
            <h1>Expo <br> Universidad</h1>
        </div>
    </header>

    <section class="nosotros">
        <div id="P"></div>
        <div class="nosotros-content container">
            <h2>Horarios Actividades</h2>
            <h3 class="h3n">
                En el siguiente botón se encuentra un link para que revises o
                descargues los horarios correspondientes a cada charla
                que vamos a tener en el transcurso de la semana, guardalo bien
                para que sepas en qué salón estar a la hora exacta.
            </h3>
            <div class="container">
                <button><a href="#H">Itinerario</a></button>
            </div>
        </div>
    </section>
        <%- include('partials/footer') %>
    </body>
    </html>