<%- include('partials/header', {tituloWeb: 'Psicopedagógico'}) %>
<body>
    
    <link rel="preload" href="css/general.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/general.css?v=1"> <!-- El ?v=1 es para evitar caché -->
   
    <header id="H" class="header">
        <div class="menu container">
            <a href="#H" class="logo">
                <img src="images/CAG-Logo.webp?v=1" alt="">
            </a>
            <input type="checkbox" id="menu"/>
            <label for="menu">
                <img src="images/menu.webp?v=1" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="/c">Contactos</a></li>
                    <li><a href="#H">Convenios</a></li>
                    <li><a href="#N">Becas</a></li>
                </ul>
        </div>
        <div class="container">
           

                <h1>
                Psicopedagógico<br>CAG
            </h1></div>
           
    </header>

    <div class="m" id="t">

        <h2 >concurso de becas</h2>
    </div>
    
    <section  class="textos">
    <div class="textos2">
        
        <h3 >
            Para poder obtener una beca a tu
        universidad de preferencia presta
        mucha atención a los pasos que a
        continuación se presentan
        </h3>
        
    </div>
    <div class="textos3">
   </div>
</section>
<section class="textos">
    <div class="textos4" id="N">
    </div>
    <div class="textos2">
        <h3>
            El concurso consta de enviar, en
            tiempo y forma, (mediante un
            formulario) una carta al Padre
            Director solicitando la beca con
            varios puntos específicos
        </h3>
</div>

</section>
<section class="textos">
    <div class="textos2">
        <h3>
            Es muy importante que contemples los subpasos del proceso
        </h3>
    </div>
    <div class="textos3"></div>
</section>
<section class="textos">
    <div class="textos4">
    </div>
    <div class="textos2">
        <h2>
            1.solicita tu kardex
        </h2>
        <h3>
           1.como solo se puede
            postularse para una beca por parte del colegio,
            revisa todos los convenios que tenemos con las
            distintas universidades y elige la que mas te convezca
           <br><br>
           <!-- son dos saltos de linea-->
            2.dirigete con la secretaria nancy de preparatoria,
            paga el costo y solicita tu kardex 
            <br><br>
            3.Recuerda que tarda 3 dias en estar listo. no se necesita
            impreso sino que lo enviaras digital
        </h3>
</div>

</section>
<section class="textos">
    <div class="textos2">
        <h2>
             2.redaccion de carta
        </h2>
        <h3>
           Parte importante del proceso es la redaccion de la carta para solicitar la beca;
           en ella reflejaras tu creatividad y profesionalismo y con ella concursaras para la beca.

        </h3>
    </div>
    <div class="textos3"></div>
</section>
<section class="textos">
    <div class="textos4 d">
        <h2>
            2.1 ¿Que debe de tener la carta?
        </h2>
    </div>
    <div class="textos2">
        <h2>
            Dirigida al Padre Director
        </h2>
        <h3>
            Padre Carlos Alberto Montoya Manzo,
Director de los Colegios Salesianos de
Guadalajara.

        </h3>
        <h2>
            Tu nombre completo
        </h2>
        <h3>
            Escribirlo tal cual está en tu acta de
            nacimiento.
        </h3>
        <h2>
            Promedio que tienes actualmente en
            el Kárdex            
        </h2>
        <h3>
            Copia el promedio que tienes del Kárde.
            en el cual vienen promediados los 5
            semestres que has cursado hasta el
            momento oficialmente
            
        </h3>
        <h2>
            Nombre de la Universidad y
            Carrera a la que aplicarás
            
        </h2>
        <h3>
            Copia el nombre completo de la
            universidad, sus siglas (en caso de
            tenerlas) y el nombre textual de la
            carrera a la que buscas aplicar.
        </h3>
</div>

</section>
<section class="textos">
    <div class="textos2">
        <h2>
             Motivos de estudiar la carrera
        </h2>
        <h3>
           Dentro del cuerpo de la carta, describe los Motivos
           por los que deseas estudiar esa carrera en especifico
           y el por que de elegirla en esa universidad
        </h3>
        <h2>
            Menciona tus actividades extra-academicas
       </h2>
       <h3>
      si participas en algun grupo de formacion, haces algun voluntariado,
      practicas deporte o realizas alguna actividad artistica -cultural que beneficie
      a la sociedad, describelo dentre de las cartas
     </h3>
     <h2>
     motivos por los que mereces la beca
   </h2>
   <h3>
   aplica tu creatividadpara mencionar por que deberias ser beneficiado con la beca

 </h3>
    </div>
    <div class="textos3 d">
        <h2>

            ¿2.1 Que debe tener la carta?
        </h2>
    </div>
</section>
<section class="textos">
    <div class="textos3 j"> 
        <h2>

            ¿2.1 Que debe tener la carta?
        </h2>
    </div>
    <div class="textos2">
        <h2>
            firma propia
        </h2>
        <h3>
        Una vez que terminaste la carta, imprimela y firmala
        </h3>
        <h2>
          Escanea tu carta
        </h2>
        <h3>
      ten lista tu carta escaneada pòr que necesitaras enviarla
      en el siguiente paso. Revisa que el escaneo sea nitido
      y todo se pueda leer
        </h3>
    </div>
  
</section>
<div class="color2 ">
    <button>solicitud de beca</button>
</div>

    <Div class="imagen3">
        <h2>
            Revisa las opciones que tenemos por convenio en cuanto a porcentaje de becas universitarias.

        </h2>
    </Div>
<section>
    <div >
        
    </div>

    
</section>
<%- include('partials/footer') %>


</body>
</html>