<%- include('partials/header', {tituloWeb: 'Psicopedagógico'}) %>
<body>
    
    <link rel="preload" href="css/general.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/general.css?v=1"> <!-- El ?v=1 es para evitar caché -->
    
    <header>
        
        <div class="color imagen2">
            <nav class="azul">
            <a href="#">becas</a>
            <a href="#">convenios</a>
            <a href="#">contactos</a>
        </nav>
    </div>
    
    <section class="imagen ">
        <div class="fondonegrito">
            <h1>Psicopedagógico<br>CAG</h1>
        </div>
    </section>
    </header>

<h2>concurso de becas</h2>

<section class="textos">
    <div class="textos2">
        
        <h3 >
            Para poder obtener una beca a tu
        universidad de preferencia presta
        mucha atención a los pasos que a
        continuación se presentan
        </h3>
        
    </div>
    <div class="textos3">
   </div>
</section>
<section class="textos">
    <div class="textos4">
    </div>
    <div class="textos2">
        <h3>
            El concurso consta de enviar, en
            tiempo y forma, (mediante un
            formulario) una carta al Padre
            Director solicitando la beca con
            varios puntos específicos
        </h3>
</div>

</section>
<section class="textos">
    <div class="textos2">
        <h3>
            Es muy importante que contemples los subpasos del proceso
        </h3>
    </div>
</section>
<div class="color2 ">
    <button>solicitud de beca</button>
</div>

    <Div class="imagen3">
        <h2>
            Revisa las opciones que tenemos por convenio en cuanto a porcentaje de becas universitarias.

        </h2>
    </Div>
<section>
    <div >
        
    </div>

    
</section>
<%- include('partials/footer') %>


</body>
</html>