<%- include('partials/header', {tituloWeb: 'Psicopedagógico'}) %>
<body>
    
    <link rel="preload" href="css/general.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/general.css?v=1"> <!-- El ?v=1 es para evitar caché -->
   
    <div class="color imagen2">
        <nav class="azul">
        <a href="#">becas</a>
        <a href="#t">convenios</a>
        <a href="/c">contactos</a>
    </nav>
    </div>
    
    <section class="imagen ">
        <div class="fondonegrito">
            <h1>Psicopedagógico<br>CAG</h1>
        </div>
    </section>
    </header>

    <div class="m" id="t">

        <h2 >concurso de becas</h2>
    </div>
    
    <section  class="textos">
    <div class="textos2">
        
        <h3 >
            Para poder obtener una beca a tu
        universidad de preferencia presta
        mucha atención a los pasos que a
        continuación se presentan
        </h3>
        
    </div>
    <div class="textos3">
   </div>
</section>
<section class="textos">
    <div class="textos4">
    </div>
    <div class="textos2">
        <h3>
            El concurso consta de enviar, en
            tiempo y forma, (mediante un
            formulario) una carta al Padre
            Director solicitando la beca con
            varios puntos específicos
        </h3>
</div>

</section>
<section class="textos">
    <div class="textos2">
        <h3>
            Es muy importante que contemples los subpasos del proceso
        </h3>
    </div>
    <div class="textos3"></div>
</section>
<section class="textos">
    <div class="textos4">
    </div>
    <div class="textos2">
        <h2>
            1.solicita tu kardex
        </h2>
        <h3>
           1.como solo se puede
            postularse para una beca por parte del colegio,
            revisa todos los convenios que tenemos con las
            distintas universidades y elige la que mas te convezca
           <br><br>
           <!-- son dos saltos de linea-->
            2.dirigete con la secretaria nancy de preparatoria,
            paga el costo y solicita tu kardex 
            <br><br>
            3.Recuerda que tarda 3 dias en estar listo. no se necesita
            impreso sino que lo enviaras digital
        </h3>
</div>

</section>
<section class="textos">
    <div class="textos2">
        <h2>
             2.redaccion de carta
        </h2>
        <h3>
           Parte importante del proceso es la redaccion de la carta para solicitar la beca;
           en ella reflejaras tu creatividad y profesionalismo y con ella concursaras para la beca.

        </h3>
    </div>
    <div class="textos3"></div>
</section>
<section class="textos">
    <div class="textos4 d">
        <h2>
            2.1 ¿Que debe de tener la carta?
        </h2>
    </div>
    <div class="textos2">
        <h2>
            Dirigida al Padre Director
        </h2>
        <h3>
            Padre Carlos Alberto Montoya Manzo,
Director de los Colegios Salesianos de
Guadalajara.

        </h3>
        <h2>
            Tu nombre completo
        </h2>
        <h3>
            Escribirlo tal cual está en tu acta de
            nacimiento.
        </h3>
        <h2>
            Promedio que tienes actualmente en
            el Kárdex            
        </h2>
        <h3>
            Copia el promedio que tienes del Kárde.
            en el cual vienen promediados los 5
            semestres que has cursado hasta el
            momento oficialmente
            
        </h3>
        <h2>
            Nombre de la Universidad y
            Carrera a la que aplicarás
            
        </h2>
        <h3>
            Copia el nombre completo de la
            universidad, sus siglas (en caso de
            tenerlas) y el nombre textual de la
            carrera a la que buscas aplicar.
        </h3>
</div>

</section>
<div class="color2 ">
    <button>solicitud de beca</button>
</div>

    <Div class="imagen3">
        <h2>
            Revisa las opciones que tenemos por convenio en cuanto a porcentaje de becas universitarias.

        </h2>
    </Div>
<section>
    <div >
        
    </div>

    
</section>
<%- include('partials/footer') %>


</body>
</html>