<%- include('partials/header', {tituloWeb: 'Psicopedagógico'}) %>
<body>
    
    <link rel="preload" href="css/general.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/general.css?v=1"> <!-- El ?v=1 es para evitar caché -->
    <h1>Psicopedagógico CAG</h1>
    <div class="color">
        <nav class="azul imagen">
        <a href="#">becas</a>
        <a href="#">convenios</a>
        <a href="#">contactos</a>
    </nav>
    </div>

    <section class="imagen">
<p></p>
    </section>
    <!-- Botón de Login 
            <section class="start-button">
                <button onclick="window.location.href='/login';">INICIAR</button>
            </section> -->
<%- include('partials/footer') %>
<h2>
    ¿como puedes conseguir tu beca?
</h2>

</body>
</html>