<%- include('partials/header', {tituloWeb: 'Psicopedagógico'}) %>
<body>
    
    <link rel="preload" href="css/general.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/general.css?v=1"> <!-- El ?v=1 es para evitar caché -->
   
    <div class="color">
        <nav class="azul">
        <a href="#">becas</a>
        <a href="#">convenios</a>
        <a href="#">contactos</a>
    </nav>
    </div>

    <section class="imagen">
<h1>Psicopedagógico<br>CAG</h1>
    </section>

    <h2>concurso de becas</h2>


<div class="color2">
    <nav>
    <a href="iniciar solicutud de beca"></a>
</nav>
</div>
    
   
<%- include('partials/footer') %>


</body>
</html>