<%- include('partials/header', {tituloWeb: 'Psicopedagógico'}) %>
<body>
    
    <link rel="preload" href="css/general.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/general.css?v=1"> <!-- El ?v=1 es para evitar caché -->
   
    <div class="color imagen2">
        <nav class="azul">
        <a href="#">becas</a>
        <a href="#">convenios</a>
        <a href="#">contactos</a>
    </nav>
    </div>

    <section class="imagen ">
        <div class="fondonegrito">
<h1>Psicopedagógico<br>CAG</h1>
</div>
    </section>

    <h2>concurso de becas</h2>

<section>
<div class="color2 ">
   <button>solicitud de beca</button>
</div>

</section>
    <Div class="imagen3">
        <H2>
            Revisa las opciones que tenemos por convenio en cuanto a porcentaje de becas universitarias.

        </H2>
    </Div>
<section>
    <div >

    </div>


</section>
<%- include('partials/footer') %>


</body>
</html>