<%- include('partials/header', {tituloWeb: 'Home'}) %>
<body>
    <link rel="preload" href="css/404.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/login.css?v=1"> <!-- El ?v=1 es para evitar caché -->
    <h1>Hola mundo</h1>
</body>
</html>