<%- include('partials/header', {tituloWeb: 'Index'}) %>
<body>
    <link rel="preload" href="css/index.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/index.css?v=1"> <!-- El ?v=1 es para evitar caché -->
    <h1>Index</h1>
    <!-- Botón de Login 
            <section class="start-button">
                <button onclick="window.location.href='/login';">INICIAR</button>
            </section> -->

            <nav> 
                <a href="·"> horarios </a>
                <a href="·">platicas</a>
            </nav>
            <footer> del mandilon de chava y del dejado de dario</footer>
</body>
</html>