<%- include('partials/header', {tituloWeb: 'Registro'}) %>
<body>
    <link rel="preload" href="css/registro.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/registro.css?v=1"> <!-- El ?v=1 es para evitar caché -->
    <header class="header">
        <div class="img">
            <img src="images/CAG-Logo.webp?v=1" alt="">
        </div>
        <div id="header-content" class="header-content container">
            <h1>Registro</h1>
            <div class="form">
                <!-- Mostrar mensaje de error si hay uno -->
                    <% if (typeof errorMessage !== 'undefined') { %>
                        <div style="color: red; text-align: center;">
                            <%= errorMessage %>
                        </div>
                    <% } %>
                <form action="/register" method="POST">
                    
                    <label for="username">Correo:</label><br>
                    <input type="text" id="username" name="username" required><br><br>
            
                    <label for="password">Contraseña:</label><br>   
                    <input type="password" id="password" name="password" required><br><br>
                    <div class="btn">
                        <button type="submit">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    </header>
<%- include('partials/footer') %>
</body>
</html>