<%- include('partials/header', {tituloWeb: 'Usuario'}) %>
<body>
  <h1>¡Usuario ya registrado!</h1>
  <p><%= message %></p>
  <a href="<%= loginUrl %>">
    <button>Iniciar sesión</button>
  </a>
</body>
</html>