@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


    html {  

        font-size: 62.5%;
      }
      body {
        font-size: 16px; /* 1rem = 10px */
        font-family: 'Krub', sans-serif;
      
      }
      .container {
        max-width: 1200px;
        margin: 0 auto;
      }
      
      
      .header{
        background-color: rgb(209, 209, 209);
        background-repeat: no-repeat;
        min-height: 60vh;
        display: flex;
        align-items: center;
       

        background-image:linear-gradient(rgb(0 0 0 / 85%), rgba(0, 0, 0, 0.6)), url(../images/Gen33.webp);
        background-position: center ;
        background-size: cover;
    
      
      }
     
     
      .menu{
        max-width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: bisque;
        padding: 1rem 5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
      }
      .logo img{
        width: 14rem;
        padding: 6px 0 0 0;
        margin-left: -2rem;
      }
      .navbar{
        margin-right: -2rem;
      }
      .menu .navbar ul li{
        position: relative;
        float: left;
      }
      .menu .navbar ul li a {
        font-size: 20px;
        padding: 20px;
        color: black;
        display: block;
        transition: 0.3s;
        font-weight: 700;
      }
      .menu .navbar ul li a:hover {
        color: peru;
      }
      #menu{
        display: none;
      }
      .menu-icono {
        width: 25px;
      }
      .menu label {
        cursor: pointer;
        display: none;
      }
    
      
      .imagen{
        background-image: url(../images/Gen33.webp);
        background-position: center center;
        background-size: cover;
        background-position-y: -18rem;  
        min-height: 50vh;
        
      
      }
      h1{
        text-align: center;
        text-transform: uppercase;
        
        color: burlywood;
    font-size: 13rem
    ;
    margin-bottom: -1rem;
      }
h2{
  text-align: center;
}
.color2{
  background-color: burlywood;
 flex-direction: column;
display: flex;
align-items: center;
padding: 1rem;
}
/*.fondonegrito{
  position: absolute;
background-color: rgba(0,0,0,.6 );
background-color: rgb(0 0 0 / 85%);
width: 100%;
height: 57%;
}*/
button{
  
  background-color: blanchedalmond;
  /* para el fondo del boton */
  color: var(--blanco);
  /* color del texto */
  padding: 1rem 3rem;
  /* contorno */
  margin-top: 1rem;
  /* que tan grande esta el contorno */
  font-size: 15px;
  /* tamaño de la fuente */
  text-decoration: none;
  /* quitar la linea */
  text-transform: uppercase;
  /* para hacerlo en negritas */
  font-weight: bold;
  /* tipo de fuente */
  border-radius: 10rem;
  /* para el contorno del boton*/
  width: 15%;
  /* para que el boton en telefonos moviles sea mas grande */
  text-align: center;
  /* alinear el texto en el medio */
  border: none;
}

h2{
  font-family: 'Oswald';

}
.imagen3{
  background-image: url(../images/tabla-1.webp);
  background-position: center;
background-size: 70%;
min-height: 100vh;
background-repeat: no-repeat;

}
.imagen3{
 background-color: #d9d9d9;
}
h2{
  padding: 40px;
  
}
.textos{
  display: flex;
}
.textos2{
font-size: 30px;
padding:50px 50px 50px 50px;
background-color:rgb(152, 161, 176) ;
width: 50%;
}
.textos3{
background-color:rgb(152, 161, 176) ;
width: 50%;
color: darkgreen;

}
.textos4{
  background-color: rgb(152, 161, 176);
  width: 50%;
}
h3{
  color:rgb(0, 0, 0);
  text-shadow: 2px 4px 5px rgb(152, 161, 176);
}
.s{
  font-size: 30px;
  padding: 400px 20px 20px 20px;
}
.m{
  width: 100%;
  font-size: 6rem;
  color: bisque;
  background-color: burlywood;
}
.j{
  font-size: 30px;
  padding:270px 20px 270px 20px;
  
}
.tamaÑo{
  font-size: 70px;
  color: darkgreen;
  padding: 100px;
}
.d{
  padding: 50px 50px 50px 50px;
  font-size: 40px;
}
.image{
  background-image: url(../images/1.png);
  background-position: center;
background-size: 70%;
min-height: 100vh;
background-repeat: no-repeat;

}
.image2{
  background-image: url(../images/10.png);
  background-position: center;
background-size: 70%;
min-height: 100vh;
background-repeat: no-repeat;

}

/*.header{
  background-color: rgb(209, 209, 209);
  background-image: url(../images/Gen33.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80rem;
  min-height: 75vh;
  display: flex;
  align-items: center;
  margin-bottom: -8rem;
}*/
.menu{
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: bisque;
  padding: 1rem 5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.logo img{
  width: 14rem;
  padding: 6px 0 0 0;
  margin-left: -2rem;
}
.navbar{
  margin-right: -2rem;
}
.menu .navbar ul li{
  position: relative;
  float: left;
}
.menu .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: black;
  display: block;
  transition: 0.3s;
  font-weight: 700;
}
.menu .navbar ul li a:hover {
  color: peru;
}
#menu{
  display: none;
}
.menu-icono {
  width: 25px;
}
.menu label {
  cursor: pointer;
  display: none;
}
#N{
  margin-top: -12.5rem;
  margin-bottom: 12.5rem;
}
.nosotros {
  padding: 4.5rem 6rem 5rem 6rem;
  background-color: #E8F1D5;
  position: relative;
}
.nosotros-content {
  text-align: center;
}
.nosotros-content h2 {
  color: #323337;
  text-transform: uppercase;
  padding: 0 250px;
  margin-bottom: 4rem;
}
.nosotros-content h3{
  font-size: 3rem;
  color: #414247;
  margin-bottom: 4rem;
  line-height: 4rem;
}
.pn{
  font-weight: bold;
  font-size: 2rem;
  color: #323337;
  line-height: 2.5rem;
}
#I{
  margin-top: -12.5rem;
  margin-bottom: 12.5rem;
}
.integrantes{
  padding: 4.5rem 6rem 2rem 6rem;
  background-color: rgb(221, 161, 101);
  position: relative;
  text-align: center;
}
.integrantes h2{
  margin-bottom: 4rem;
  width: 100%;
}
.integrantes-content{
  width: 1600px;
  display: flex;
}
.integrantes-content img{
  width: 35rem;
  border-radius: 25px;
}
.info-1{
  width: 50%;
  padding: 2rem 5rem;
}
.integrantes-content h3{
  padding: 1rem;
  font-size: 4rem;
}
.integrantes-content h4{
  padding-bottom: 1rem;
  font-size: 3rem;
}
.integrantes-content p{
  padding: 1rem;
  font-size: 2.5rem;
  line-height: 3.5rem;
}
#M{
  margin-top: -12.5rem;
  margin-bottom: 12.5rem;
}
.mision{
  padding: 4.5rem 6rem 4rem 6rem;
  background-color: #E8F1D5;
  position: relative;
  text-align: center;
}
.txt{
  margin: auto;
  width: 130rem;
}
.txt h2{
  margin-bottom: 3rem;
}
.txt p{
  font-size: 3rem;
  margin-bottom: 2rem;
}
.mision-content{
  width: 160rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.info{
  text-align: center;
  width: 31%;
  margin-top: 4rem;
}
.info img{
  width: 30rem;
  border-radius: 25px;
}
.info h3{
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.info p{
  font-size: 2.5rem;
}
.alexa{
  font-size: 40px;
}

@media(max-width:991px){
  .menu{
    padding: 30px;
    height: 2%;
  }

  .menu label{
    display: initial;
    margin-top: 5px;
  }

  .menu .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #2d2c32;
    display: none;
  }

  .menu .navbar ul li{
    width: 100%;
    background-color: rgb(219, 187, 148);
    border: 1px solid;
    border-color: rgb(241, 192, 127);
  }

  #menu:checked ~ .navbar{
    display: initial;
  }

  .logo img{
    width: 25%;
  }

  .header{
    background-size: 100%;
    min-height: 50vh;
    width: auto;
  }

  h2{
    font-size: 3.2rem;
  }

  .nosotros-content h2{
    padding: 0;
    font-size: 3.3rem;
  }

  .nosotros-content h3{
    font-size: 2.3rem;
    line-height: 2.5rem;
  }

  .integrantes-content{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: -1rem;
  }

  .integrantes-content img{
    width: 100%;
  }

  .integrantes-content h3{
    font-size: 3rem;
  }

  .integrantes-content h4{
    font-size: 2rem;
  }

  .integrantes-content p{
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .info-1{
    width: 100%;
    padding: 0;
    margin-bottom: 3.5rem;
  }

  .txt{
    width: 100%;
    margin-bottom: -5rem;
  }

  .txt p{
    font-size: 2rem;
  }

  .mision-content{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
  }

  .info{
    width: 100%;

  }

  .info img{
    width: 100%;
    margin-bottom: -3rem;
  }

  .info h3{
    font-size: 2.5rem;
  }

  .info p{
    font-size: 2rem;
    margin-bottom: -2rem;
  }
}


h2{
  font-size: 50px
}
h1{
  font-size: 35px
}
.alexa{
  font-size: 20px;
}
button{
  width: auto;
}