*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primario: #ffc107;
    --secundario: #0097A7;
}
    html {  

        font-size: 62.5%;
      }
      body {
        font-size: 16px; /* 1rem = 10px */
        font-family: 'Krub', sans-serif;
      
      }
      
      .titulo {
          text-align: center;
          font-size: 3.8rem;
        }
      
      
      .titulo span{
        font-size: 2rem;
      }
      .color{
        background-color: bisque;
        height: 4rem;

      }
      .color a{
color: black;
transition: color 0.3s;
padding: 1rem 2rem;
display: block;
position: relative;
float: right;

      }
      .azul a{
        
      }
      .azul a:hover{
       color: peru;
       
      }
      .imagen{
        background-image: url(../images/Gen33.webp);
        background-position: center center;
        background-size: cover;
        background-position-y: -18rem;
        min-height: 50vh;
      
      }
      h1{
        text-align: center;
        text-transform: uppercase;
        padding: 14rem;
      }
h2{
  text-align: center;
}
.color2{
  background-color: burlywood;
  
}