@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primario: #ffc107;
    --secundario: #0097A7;
}
    html {  

        font-size: 62.5%;
      }
      body {
        font-size: 16px; /* 1rem = 10px */
        font-family: 'Krub', sans-serif;
      
      }
      
      .titulo {
          text-align: center;
          font-size: 3.8rem;
        }
      
      
      .titulo span{
        font-size: 2rem;
      }
      .color{
        max-width: 100%;
        background-color: #ffe4c4;
        height: 4rem;
margin: 0 auto;
      }

      .color a{
color: black;
transition: color 0.3s;
padding: 1rem 2rem;
display: block;
position: relative;
float: right;

      }
      @media (min-width: 468px) {

      .color{
        flex-direction: row;
        justify-content: space-between;
      
      }
      }
      .azul a{
        
      }
      .azul a:hover{
       color: peru;
       
      }
      .imagen{
        background-image: url(../images/Gen33.webp);
        background-position: center center;
        background-size: cover;
        background-position-y: -18rem;  
        min-height: 50vh;
        
      
      }
      h1{
        text-align: center;
        text-transform: uppercase;
        padding: 3rem;
        color: burlywood;
    font-size: 100px;
      }
h2{
  text-align: center;
}
.color2{
  background-color: burlywood;
 flex-direction: column;
display: flex;
align-items: center;
padding: 1rem;
}
.fondonegrito{
  position: absolute;
background-color: rgba(0,0,0,.6 );
background-color: rgb(0 0 0 / 85%);
width: 100%;
height: 50%;
}
button{
  
  background-color: blanchedalmond;
  /* para el fondo del boton */
  color: var(--blanco);
  /* color del texto */
  padding: 1rem 3rem;
  /* contorno */
  margin-top: 1rem;
  /* que tan grande esta el contorno */
  font-size: 15px;
  /* tamaño de la fuente */
  text-decoration: none;
  /* quitar la linea */
  text-transform: uppercase;
  /* para hacerlo en negritas */
  font-weight: bold;
  /* tipo de fuente */
  border-radius: 10rem;
  /* para el contorno del boton*/
  width: 15%;
  /* para que el boton en telefonos moviles sea mas grande */
  text-align: center;
  /* alinear el texto en el medio */
  border: none;
}

h2{
  font-family: 'Oswald';

}
.imagen3{
  background-image: url(../images/tabla-1.webp);
  background-position: center;
background-size: 70%;
min-height: 100vh;
background-repeat: no-repeat;

}
.imagen3{
 background-color: #d9d9d9;
}
h2{
  padding: 40px;
}
.textos{
  display: flex;
}
.textos2{
font-size: 30px;
padding:50px 50px 50px 50px;

width: 50%;
}
.textos3{
background-color: ;
width: 50%;
}
.textos4{
  background-color: ;
  width: 50%;
}
h3{
  color:rgb(179, 135, 58);
  text-shadow: 2px 4px 5px rgb(175, 175, 175);
}
.d{
  font-size: 30px;
  padding: 400px 20px 20px 20px;
}
.m{
  width: 100%;
}