*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html { 
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 16px; /* 1rem = 10px */
  font-family: 'Krub', sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header{
  min-height: 90.5vh;
  display: flex;
  align-items: center;
}

.header-content {
  text-align: center;
}

.header-content h1 {
  font-size: 12rem;
  line-height: 145px;
  color: #d3cfbc;
  margin-bottom: 20px;
  margin-top: -350px;
}