@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html { 
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: #007b00;
  font-size: 16px; /* 1rem = 10px */
  font-family: 'Krub', sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header{
  min-height: 90.5vh;
  display: flex;
  align-items: center;
}

.header-content {
  text-align: center;
}

.header-content h1 {
  font-family: "Oswald", sans-serif;
  font-size: 12rem;
  color: rgb(218, 188, 153);
  margin-top: -40px;
  text-transform: uppercase;
}

.header-content h2{
  font-family: "Oswald", sans-serif;
  font-size: 17rem;
  color: bisque;
  margin-top: -90px;
  text-transform: uppercase;
  margin-bottom: 80px;
}

button{
  font-weight: 600;
  width: 45%;
    padding: 25px;
    margin-top: 25px;
    background-color: bisque;
    color: black;
    border: none;
    border-radius: 50px;
    font-size: 4rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
  background-color: peru;
}