@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html { 
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: #007b00;
  font-size: 16px; /* 1rem = 10px */
  font-family: 'Krub', sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header{
  min-height: 90.5vh;
  display: flex;
  align-items: center;
}

.header-content {
  text-align: center;
}

form{
  text-align: center;
  background-color: white;
  border-radius: 25px;
  width: 70rem;
  height: 50rem;
  padding: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error{
  background-color: black;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  margin-top: -62px;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: red;
}

.img{
  width: 0;
  align-items: center;
  margin-top: -75rem;
  margin-left: 3rem;
  margin-right: -3rem;
}

img{
  width: 30rem;
}

.header-content h1 {
  font-family: "Oswald", sans-serif;
  font-size: 12rem;
  color: bisque;
  margin-top: 1rem;
  text-transform: uppercase;
}

label{
  border-color: bisque;
  border-radius: 5px;
  margin-left: -10rem;
  align-self: flex-start;
  margin: 0;
  font-size: 3rem;
}

input{
  width: 100%;
  padding: 10px;
  font-size: 2.5rem;
  border: solid#007b00;
  border-radius: 25px;
}

a{
  color: black;
}

.botones {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: flex-end; /* Alinea los elementos al fondo del contenedor */
}

.registro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noc {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 1.5rem; /* Espacio entre texto y botón */
}

.botones button {
  align-self: unset;
  white-space: nowrap;
  margin-top: 0; /* Elimina margen para alinear */
}

button {
  color: black;
  font-weight: 600;
  width: 28rem;
  padding: 2rem;
  background-color: bisque;
  border: none;
  border-radius: 50px;
  font-size: 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: peru;
}

@media (max-width: 991px) {
  .header{
    min-height: 93vh;
  }

  img{
    width: 20rem;
  }

  .img{
    margin-top: -60rem;
    margin-left: 1.5rem;
    margin-right: -1.5rem;
  }

  .header-content{
    margin-top: 11rem;
  }

  .header-content h1{
    font-size: 5rem;
  }

  .botones{
    flex-direction: column;
    gap: 0;
    align-items: center;
    margin-top: -1.5rem;
  }

  .noc{
    margin-bottom: 1rem;
  }

  .registro{
    margin-top: 2rem;
  }

  button{
    align-self: flex-start;
    width: 28.5rem;
    padding: 20px;
    font-size: 18px;
  }

  form{
    padding: 2rem 2.5rem;
    width: 34rem;
    height: 46rem;
  }

  .error{
    margin-top: -2.5rem;
    margin-bottom: 1rem;
    width: 30rem;
  }

  label{
    margin-left: 0;
    font-size: 2rem;
    margin-bottom: -3px;
  }

  input{
    width: 100%;
    padding: 10px;
  }

}